@mixin text-40 {
	font-size: 40px;
	font-size: 2.5rem;
}
@mixin text-39 {
	font-size: 39px;
	font-size: 2.438rem;
}
@mixin text-38 {
	font-size: 38px;
	font-size: 2.375rem;
}
@mixin text-37 {
	font-size: 37px;
	font-size: 2.313rem;
}
@mixin text-36 {
	font-size: 36px;
	font-size: 2.25rem;
}
@mixin text-35 {
	font-size: 35px;
	font-size: 2.188rem;
}
@mixin text-34 {
	font-size: 34px;
	font-size: 2.125rem;
}
@mixin text-33 {
	font-size: 33px;
	font-size: 2.063rem;
}
@mixin text-32 {
	font-size: 32px;
	font-size: 2rem;
}
@mixin text-31 {
	font-size: 31px;
	font-size: 1.938rem;
}
@mixin text-30 {
	font-size: 30px;
	font-size: 1.875rem;
}
@mixin text-29 {
	font-size: 29px;
	font-size: 1.813rem;
}
@mixin text-28 {
	font-size: 28px;
	font-size: 1.75rem;
}
@mixin text-27 {
	font-size: 27px;
	font-size: 1.688rem;
}
@mixin text-26 {
	font-size: 26px;
	font-size: 1.625rem;
}
@mixin text-25 {
	font-size: 25px;
	font-size: 1.563rem;
}
@mixin text-24 {
	font-size: 24px;
	font-size: 1.5rem;
}
@mixin text-23 {
	font-size: 23px;
	font-size: 1.438rem;
}
@mixin text-22 {
	font-size: 22px;
	font-size: 1.375rem
}
@mixin text-21 {
	font-size: 21px;
	font-size: 1.313rem;
}
@mixin text-20 {
	font-size: 20px;
	font-size: 1.25rem;
}
@mixin text-18 {
	font-size: 18px;
	font-size: 1.125rem;
}
@mixin text-17 {
	font-size: 17px;
	font-size: 1.063rem;
}
@mixin text-base {
	font-size: 16px;
	font-size: 1rem;
}
@mixin text-15 {
	font-size: 15px;
	font-size: 0.9375rem;
}
@mixin text-14 {
	font-size: 14px;
	font-size: 0.875rem;
}
@mixin text-13 {
	font-size: 13px;
	font-size: 0.8125rem;
}
@mixin text-12 {
	font-size: 12px;
	font-size: 0.75rem;
}
@mixin text-11 {
	font-size: 11px;
	font-size: 0.6875rem;
}
@mixin text-10 {
	font-size: 10px;
	font-size: 0.625rem;
}
@mixin text-9 {
	font-size: 9px;
	font-size: 0.5625rem;
}
@mixin text-8 {
	font-size: 8px;
	font-size: 0.5rem;
}