
body {
  font-family: 'Open Sans', sans-serif;
  color: $brand-primary;
  font-size: 15px;
  line-height: 1.4;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, footer, section, aside, nav, article, figure, main { 
  display: block;
  position: relative; 
  padding: 0; 
  margin: 0; 
}

.banner {
  margin-top: 40px;
}

/**
 * Navbar
 */
.navbar {
  padding: 0;
  width: 100%;
  border-bottom: 1px solid $brand-primary;
  border-radius: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
    display: block;
    float: left;
    vertical-align: bottom;
}

.navbar-brand > article {
  margin-left: 1em;
}

.navbar-brand h1 {
  font-size: 15px;
  line-height: 2.3;
}

.navbar-brand h2 {
  font-size: 11px;
  color: #b7b7b7;
  margin-bottom: 0;
}

.navbar-nav {
  float: right;
  .menu-item {
    float: left;
    line-height: 100%;
  }

  .menu-item a {
    display: block;
    padding-top:    .425rem;
    padding-bottom: .425rem;

    + .menu-item a  {
      margin-left: 1rem;
    }
  }

  .menu-item + .menu-item {
    margin-left: 1rem;
  }
}

//Color Variables
$color1: #ccc; //Red
$color2: #fff; //Plum
$color3: #903749; //Maroon

// Base Styles
.navBar {
  background-color: $color2;
  position: fixed;
  min-width: 100%;
}

.logo {
  background-color: $color1;
  border-radius: 50px;
  display: inline-block;
  height: 45px;
  margin: 1em 0;
  width: 45px;
}

// Content Wrapper
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

// Full Navigation, including mobile menu
.navBar {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    
    a {
      color: $color1;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {color: $color3;}
    }
  }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle {display: none;}
  
  .label-toggle {display: none;}
  
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    ul {
      background-color: $color1;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid $color2;
      color: $color2;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    
    .label-toggle {
      background: linear-gradient(to bottom, $color1 0%, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%, $color1 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    
    .wrapper {display: block;}
  }
}