
body {
  font-family: 'Open Sans', sans-serif;
  color: $brand-primary;
  font-size: 16px;
  font-size: 1rem;  
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, footer, section, aside, nav, article, figure, main { 
  display: block;
  position: relative; 
  padding: 0; 
  margin: 0; 
}

.container {
  max-width: 860px;
}

.banner {
  margin-top: 34px;
}

.main {
  padding-left: 0!important;
  padding-right: 0!important;
  @include rem-fallback(padding-bottom, $basex4);
}

.home.main,
.book-with-us .main { 
  padding-bottom: 0;  
}

.home.main .main-image,
.book-with-us .main .main-image {
  border-bottom: none;
}

.main ul,
.columns ul {
  list-style: none;
  margin-left: 0;
  @include rem-fallback(padding-left, 8); 
  text-indent: -0.6em;
}

.main li,
.columns li {
  @include rem-fallback(margin-bottom, $base); 
}

.main li::before, 
.columns li::before {
  content: '•';
  @include rem-fallback(padding-right, 5);
}

h2 {
  text-align: center;
  @include rem-fallback(font-size, 21);
  line-height: 1.3;
  letter-spacing: 1px;
  @include rem-fallback(margin-top, $basex4);
  @include rem-fallback(margin-bottom, $basex2);
}

.extended-content h2 {
  @include rem-fallback(font-size, 28);
  font-weight: $light;
}

p {  
  @include rem-fallback(margin-bottom, $basex2);  
}

p:last-child {
  margin-bottom: 0;
}

.main p {
  letter-spacing: 1px;
}

.small, small {
  @include rem-fallback(font-size, 11);
}

a {
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: $grey-light-hover;
}

.none {
  display: none;
}
 


/**
 * Images
 */
img {
  max-width: 100%;
}

.main-image {
  margin: 0 auto;
  border-bottom: 1px solid $brand-primary;
}

@media screen and (max-width: 992px) {
  .main-image {
    min-height: 240px;
  }
}

@media screen and (min-width: 993px) {
  .main-image {
    min-height: 377px;
  }
}

.main-image img {

}



/**
 * Gallery
 */
div#masonry {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  // margin-left: -10px;
  // margin-top: -10px;
  font-size: 0; 
}
div#masonry .img-wrap { 
  width: 25%;
  flex: 1 0 calc(25% - 10px);
  box-sizing: border-box;
  // padding: 10px;
  transition: 0.8s opacity;
}
div#masonry:hover img {
  opacity: 1;
}
div#masonry:hover img:hover {
  // opacity: 0.8;
}

@supports not (flex-wrap: wrap) {
  div#masonry {
    display: block;
  }
  div#masonry img { 
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-width: 500px) {
  div#masonry { height: 200vw; }
  div#masonry img { width: 50%; }
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0; 
  height: 100vw;
  // margin-left: -10px;
  // margin-top: -10px;
}
.items .item {
  margin: 0;
  padding: 0;
  width: 25%;
  //flex: 1 0 calc(25% - 10px);
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  // padding: 10px;
  // margin-left: 10px;
  // margin-top: 10px;
}

/* ---- grid ---- */
.gallery-container {
  height:100%;
  text-align: center;
}

.grid {
  margin: 0 auto;
  max-width: 1150px; 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  width: 25%;
  max-width: 280px;
}

.js .grid-item .preload {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.js .grid-item .preload.loaded {
  visibility: visible;
  opacity: 1; 
}

@media(max-width: 1199px) { 
  .grid-item--width2  {
    width: 25%;
    max-width: 240px;
  }
}

@media(max-width: 1047px) {
  .grid {
    max-width: 1047px; 
  } 
  .grid-item--width2  {
    width: 33.333%;
    max-width: 220px;
  }
}

@media(max-width: 959px) {
  .grid {
    max-width: 959px; 
  }  
  .grid-item--width2 {
    width: 33.333%;
    max-width: 238px;
 }
}

@media(max-width: 780px) {
  .grid {
    max-width: 780px; 
  } 
  .grid-item--width2 {
    width: 50%;
    max-width: 360px;
 }
}

@media(max-width: 759px) {
  .grid {
    max-width: 759px; 
  }  
  .grid-item--width2 {
    width: 50%;
    max-width: 300px;
 }
}

@media(max-width: 649px) {
    .grid {
    max-width: 649px; 
  }   
  .grid-item--width2 {
    width: 50%;
    max-width: 280px;
 }
}

@media(max-width: 595px) {
  .grid {
    max-width: 595px; 
  }  
  .grid-item--width2 {
    width: 100%;
    max-width: 575px;
 }
}


 
.btn.extended-content {
  margin: 0 auto;
  @include rem-fallback(margin-top, $basex4);  
  border: none; 
  border-radius: 0; 
  background: $grey-light;
  color: #fff;
  letter-spacing: 1px;  
}

.btn.extended-content.dark {
  background: $brand-primary;
}

.btn.extended-content:focus {
  background: $grey-light;
  outline: 0px auto $grey-light;
  outline-offset: 0px;  
}

.btn.extended-content.about {
  background: none;
  border: 1px solid $brand-primary;
  @include rem-fallback(font-size, 21);
  color: $brand-primary;
  font-weight: $light;
}

.btn.extended-content.about:focus {
  background: none;
  color: $brand-primary;
  outline: 0px auto $brand-primary;
  outline-offset: 0px;  
}

#photoswipe-btn {
  position: absolute;
  @include rem-fallback(bottom, 40);
  left: 50%;
  margin-left: -66px;
  z-index: 100;
}

.accommodation .photoswipe {
  display: none;
}

.arrow {
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  @include rem-fallback(margin-top, $base);
  fill: $brand-primary;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.arrow-down.up {
    transform: rotate(0deg);
}

.columns:first-child {
    @include rem-fallback(margin-top, $basex4);
}

.columns p {
  line-height: 1.1;
  @include rem-fallback(margin-bottom, $base); 
}

.columns p:last-child {
  margin-bottom: 0;
}

.acf-map {
  border-bottom: 1px solid $brand-primary;
}

.main-content + .columns {
  @include rem-fallback(margin-top, $basex2); 
}


/**
 * Form
 */
.gform_wrapper {
    margin-top: 15%!important;
}
.gform_wrapper ul.gform_fields {
  display: flex!important;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.gform_wrapper input.datepicker {
  width: 100%!important;
}

.gform_wrapper ul.gform_fields li {
  padding-left: 0;
  margin-top: 0!important;
}

.gform_wrapper .gform_footer {
  text-align: center!important;
}

.gform_wrapper input.gform_button.button {
  background-color: $brand-primary;
  border: none;
  outline: none;
  @include rem-fallback(font-size, 17);
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  text-transform: lowercase;
  padding-left: 30px!important;
  padding-right: 30px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.gform_wrapper input,
.gform_wrapper textarea {
  background: #fff;
  border: 1px solid $brand-primary;
  font-size: 14px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  @include text-input-placeholder-color($brand-primary);
}

.gform_wrapper .gfield_label {
  display: none!important;
}

.gform_wrapper .top_label div.ginput_container {
  margin-top: 0!important;
}

.gform_wrapper textarea.large {
  height: 160px!important;
}

.gform_wrapper.gform_validation_error {
  margin-top: 20px!important;
}

.gform_wrapper .field_description_below .gfield_description {
  padding-top: 0!important;
}

.gform_wrapper div.validation_error {
    background-color: rgba(255,255,255,.6)!important;
    margin-bottom: 15px!important;
    padding: 10px 0!important;  
}

.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: rgba(255,255,255,.6)!important;
    margin-bottom: 6px!important;
    border-top: 1px solid $brand-primary!important;
    border-bottom: 1px solid $brand-primary!important;
    padding-bottom: 6px;
    padding-top: 8px;
}

.gform_confirmation_message {
  background-color: #fff!important;
  text-align: center!important;
  margin-top: 15%!important;  
  padding: 25px!important;
}

@media screen and (max-width: 641px) {
  .gform_wrapper input,
  .gform_wrapper textarea {
    background: #fff;
    border: 1px solid $brand-primary;
    font-size: 14px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    @include text-input-placeholder-color($brand-primary);
  }

  .gform_wrapper .gform_footer {
    margin-top: 0!important;
  }

  .gform_button.button {
    width: auto!important;
    line-height: 1.5!important;
  }
}

:focus {
  outline: $brand-primary auto 0px;
  border-radius: 0;
}

.background-image {
  width: 100%;
  height: 642px; 
}
 
 

/* flickity */
@media screen and (min-width: 992px) {
  //.gallery-wide { height: 440px; }  
}
@media screen and (min-width: 1141px) {
  //.gallery-wide { height: 642px; }
}
@media screen and (min-width: 1660px) {
  //.gallery-wide { height: 741px; }
}

.image-container {
  position: relative;
}

.js .loader {
  display: none;
  position: absolute;
  z-index: 100; 
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}

.no-js .loader {
  display: none;
}

.is-loading {
  position: relative;
}

.is-loading .loader {
  display: block;
}

.js .loader-slow {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 0; 
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}

.no-js .loader-slow {
  display: none;
}

.js .gallery-container .loader-slow {
  visibility: none;
}


.js .is-loading.gallery-container .loader-slow {
  visibility: visible;
  top: 10%;
}



/* carousel height, as percentage of width */
.gallery-wide { 
  padding-bottom: 38.6%;
}

@media screen and (max-width: 768px) {
  .gallery-wide { 
    padding-bottom: 74.6%;
  }
}

.no-js .gallery-wide {
  padding-bottom: 0;
}

.js .preload {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}

.js .loaded {
  visibility: visible;
  opacity: 1;
}
.gallery-wide .gallery-cell {
  position: absolute;
}
.no-js .gallery-wide .gallery-cell:nth-child(2) {
  display: none; 
}


/* viewport inherit size from carousel */
.gallery-wide .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from carousel */
.gallery-cell {
  height: 100%;
}

.col-xs-12.gallery-cell {
  padding: 0;
}

.flickity-prev-next-button {
  display: none;
}

/* move page dots into carousel */
.flickity-page-dots { 
  bottom: 10px; 
}

.flickity-page-dots li:before {
  content: '';
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid $grey-lighter;
  opacity: 1;
}

.flickity-page-dots .dot.is-selected {
  background: $brand-primary;
  border: 1px solid $brand-primary;
}

/**
 * Photoswipe
 */
.pswp__bg {
  background-color: rgba(255,255,255,1);
  opacity: 1;
}

.pswp__ui--fit .pswp__caption, 
.pswp__ui--fit .pswp__top-bar,
.pswp__caption,
.pswp__top-bar {
    background-color: rgba(255,255,255,0.8);
}

.pswp__counter,
.pswp__caption__center,
.pswp__caption small {
  color: $brand-primary;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(255,255,255,0.3);
}



