// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #575757;
$grey-light: #9a9a9a;
$grey-lighter: #d7d7d7;

//margins, padding
$half: 8; 
$base: 17;  
$basex2: 34; 
$basex3: 51; 
$basex4: 68; 

//font-weights
$light: 300;
$regular: 400;
$bold: 700;
 
